<%=render 'sections/menu' %>

<section>
  <div class="section-admin">
  <h1>Welcome Dashboard</h1>

 <% @allsections.each do |section| %>
  <article class="admin-article">
 <div class="title-txt">
   <div class="title-btn">

<h2><%=section.title%></h2>
<div class="btn-action">
  <a href="img">
  </a>
</div>
</div>
<p class="text-admin"> Lorem ipsum</p>
</div>

<table>
  <colgroup>
<col class="size-title">
<col class="size-corps">
<col class="size-action">
</colgroup>
   <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Titre</th>
           <th>Corps</th>
           <th>Actions</th>
       </tr>
   </thead>
   <tbody>
    <% @section.articles.each do | article | %>
    <tr>
      <td class="titletab"><%=@article.title%></td>
      <td class="corpstab"><%=@article.resume%></td>
      <td class="actiontab">IMG IMG IMG</td>
    </tr>
      <%end %>
    </tbody>
</table>
<p> IMG IMG IMG </p>
</article>
<%end %>
</section>

