<%=render 'sections/menu' %>

<section>
  <div class="section-article">
  <h1 class="title-article">Welcome Dashboard</h1>
<article class="article-size">

  <p>A completer</p>
</article>
</div>
</section>

