 <%= render  'sections/menu' %>
 <div class="section-index">
   <%flash.each do |key,msg| %>
<%= content_tag(:div, content_tag(:p,msg), :class =>"message #{key}") %>
<% end %>
<h1>Nouvelle article</h1>

<%= render 'form' %>


</div>
