<%= render 'sections/menu' %>
<section>
  <div class="section-article">
  <h1 class="title-article"><%= @article.title %></h1>
<article class="article-size">

  <p><%= @article.content.html_safe %></p>

</article>
</div>
</section>

