
<section>
  <div class="section-article">
  <h1 class="title-article"><%= @article.title %></h1>

<article class="article-size">
<%= link_to 'Back',root_path %>
  <%= markdown(@article.content) %>
<%= link_to 'Back',root_path %>
</article>
</div>
</section>

