<div class="section-index">
<p id="notice"><%= notice %></p>

<p>
  <b>Admin title:</b>
  <%= @redmine_admin.admin_title %>
</p>


<%= link_to 'Edit', edit_redmine_admin_path(@redmine_admin) %> |
<%= link_to 'Back', redmine_admins_path %>
</div>
