<section>
  <div class="section-index">
    <h1>Listing divisions</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


</table>

<br />

<%= link_to 'New Division', new_division_path %>
</div>
</section>
