<%= render 'sections/menu' %>
<section>
  <div class="section-article">
  <h1 class="title-article">New Section</h1>
<article class="article-size">
<%= render 'form' %>
 <% btn_eye = image_tag('eye.png') %>
<%= link_to btn_eye, @section %>
<%= link_to 'Back', sections_path %>
</article>
</div>
</section>

