
<section>
  <div class="section-article">
     <%flash.each do |key,msg| %>
<%= content_tag(:div, content_tag(:p,msg), :class =>"message #{key}") %>
<% end %>
  <h1 class="title-article">New Section</h1>
<article class="article-size">
<%= render 'form_new' %>

<%= link_to 'Back', :controller => 'dashboard', :action => 'index' %>
</article>
</div>
</section>


