<!-- Ce que l'utilisateur rempli et envoi -->
<div class="section-index">
  <h2 class="title-edit-new">Formulaire d'hébergement Php</h2>
   <%flash.each do |key,msg| %>
<%= content_tag(:div, content_tag(:p,msg), :class =>"message #{key}") %>
<% end %>
<%= render 'form' %>
</div>
